<!Doctype HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>Bookmark your link</title>
	<meta name="description" content="App">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="bookmark.css" type="text/css" />
</head>

<body ng-app="myApp" ng-controller="myCtrl">

<div class="jumbotron">
<h2 class="text-center">Bookmark</h2>
	<div class="row" id="main">
		<div class="col-sm-5">
			<form class="form-horizontal">				
				<div class="form-group">
					<label class="control-label col-sm-2">URL:</label>
				<div class="col-sm-10">
					<input type="url" class="form-control" placeholder="Enter URL" ng-model="addUrl" required>
				</div>
				</div>	
				<div class="form-group">
					<label class="control-label col-sm-2">Title:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" placeholder="Enter Title" ng-model="addTitle" required>
				</div>
				</div>	
				<div class="form-group">
					<label class="control-label col-sm-2">Tag:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" placeholder="Enter Tag" ng-model="addTag" required>
				</div>
				</div>
				<div class="form-group">
				  <div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary" ng-click="addBookmark()">Bookmark</button>
				  </div>
				</div>				  
			</form>
		</div>
		<div class="col-sm-7 text-center">
			<form class="form-inline" role="form">
			    <div class="form-group">
					<input type="text" placeholder="Search by title..." class="form-control" ng-model="search.title"/>
					<input type="text" placeholder="Search by tag..." class="form-control" ng-model="search.tag"/>
				</div>				
			</form>		
		</div>		
	</div>
	<table class="table table-hover">
		<thead>
			<tr class="text-left">
				<th>URL</th>
				<th ng-click="orderByNames('title')">Title</th>
				<th ng-click="orderByNames('tag')">Tag</th>
			</tr>
		</thead>
		<tbody>
			<tr class="text-left" ng-repeat="x in showBookmark | filter:search | orderBy:orderByList">
				<td><a href="{{x.url}}">{{x.url}}</a></td>
				<td>{{x.title}}</td>
				<td>{{x.tag}}</td>
				<td><button type="submit" class="btn btn-danger" ng-click="removeBookmark($index)">Remove</button></td>
			</tr>
		</tbody>
	</table>
</div>

	<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script type="text/javascript" src="bookmark.js"></script>
	
</body>
</html>
